extends ../layout

block content
  div.content-text
    p Hello #{name},
    p This notification confirms a recent update to your **rebeca.in** account credentials.
    p If you did not make this change, please contact us at support@rebeca.in immediately.