extends ../layout

block content
  div.content-text
    p Dear #{name},
    p Your registration for **#{eventName}** has been confirmed.
    p Please keep this email for your records. Further details will be shared via our official channels.
    a.btn(href=eventLink) View Schedule